##############################
######### VARIABLES  #########
##############################

#--------------------------------------------------------------------
#
#	Instala los programas principales para trabajar con Linux
#
#	@Author		Alton Bell Smythe < abellsmythe@gmail.com >
#	@Version	0.0.1
#
#---------------------------------------------------------------------

USER='toncho'
HOME='/home/toncho/'
TMUX=$HOME'.tmux/'
NAME='Alton Bell Smythe'
EMAIL='abellsmythe@gmail.com'